<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- <clear /> -->
        <add key="projectindustries" value="https://nuget.pkg.github.com/ProjectIndustries/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <projectindustries>
            <add key="Username" value="x.alantoo@gmail.com" />
            <add key="ClearTextPassword" value="3191af5c5d4852a17fa050735482effa56ec0559" />
        </projectindustries>
    </packageSourceCredentials>
</configuration>